extends ../layout

block content
    h3 make your own playlist
        form(action="/wishs/add",method="post")
            .form-group
                label(for="name") Name
                input#name(type="text",class="form-control", name="name")
            .form-group
                label(for="singer") singer
                input#singer(type="text",class="form-control", name="singer")
            input(type="submit", class="btn btn-info" )