extends ../layout


block content
    h1 Edit list
    form(action="/products/edit/"+product._id, method="post")
        div(class="form-group")
            lable(for="name") song name
            input(type="text" ,class="form-control" ,id="name" ,name="name" ,value= product.name)
        div(class="form-group")
            lable(for="price") song price 
            input(type="text" ,class="form-control" ,id="price" ,name="price" ,value= product.price)
        div(class="form-group")
            lable(for="singer") singer
            input(type="text" ,class="form-control" ,id="singer" ,name="singer" ,value= product.singer)
        div(class="form-group")
            lable(for="detail") More Details (if any)
            input(type="text" ,class="form-control" ,id="detail" ,name="detail" ,value= product.detail)
        input(type="submit" ,class="btn btn-primary")
    