<form action="/products/add" method="post">
  <div class="form-group" >
    <label for="name">Name of song</label>
    <input type="text" class="form-control" id="name" name="name">
  </div>
  <div class="form-group">
    <label for="price">Price of song</label>
    <input type="text" class="form-control" id="price" name="price">
  </div> 
  <div class="form-group">
    <label for="singer">singer</label>
    <input type="text" class="form-control" id="singer" name="singer">
  </div>
  <div class="form-group">
    <label for="detail">More Details (if Any)</label>
    <input type="text" class="form-control" id="detail" name="detail">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>